/*IMPORT FILES EXTRAS FOR MAKE RESPONSIVE AND MIXINS*/
/*VARIABLES FOR CHANGE COLOR BACKGROUND, TEXT, BTN*/
body.homepage {
  /*HEADER STYLES*/
  /*BODY STYLES*/ }
  body.homepage header#headerInternas {
    height: 120px; }
    body.homepage header#headerInternas .header-top {
      padding: 0; }
      @media only screen and (max-width: 768px) {
        body.homepage header#headerInternas .header-top {
          padding: 0 0 0 0 !important; } }
      body.homepage header#headerInternas .header-top .header-title {
        display: inline-block;
        width: 100%;
        background: #4a6272;
        color: #7ac2dc;
        text-align: center;
        text-transform: uppercase;
        padding: 14px; }
      body.homepage header#headerInternas .header-top .idioma {
        width: 100%;
        margin: 0;
        background: white;
        padding: 1em 5em 0px 1em;
        height: 40px; }
        body.homepage header#headerInternas .header-top .idioma .ico_idioma {
          font-weight: 600;
          color: #000; }
        body.homepage header#headerInternas .header-top .idioma .ico_idioma .caret {
          margin-left: 0; }
        body.homepage header#headerInternas .header-top .idioma .header-extra {
          float: left; }
          body.homepage header#headerInternas .header-top .idioma .header-extra .official span#web-oficial {
            color: #00a658;
            text-shadow: 0px 0px 0px #000;
            font-size: 14px; }
          body.homepage header#headerInternas .header-top .idioma .header-extra .official i.fa-certificate {
            display: none; }
        @media only screen and (max-width: 1366px) {
          body.homepage header#headerInternas .header-top .idioma {
            margin: 0 !important; } }
  body.homepage #wrapper .list-services {
    padding-bottom: 3em; }
    body.homepage #wrapper .list-services .text-offer_dos {
      top: 0;
      bottom: 0;
      margin: auto; }
      body.homepage #wrapper .list-services .text-offer_dos .centrar {
        padding: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 80%;
        height: 370px;
        margin: 0 auto;
        display: block; }
        body.homepage #wrapper .list-services .text-offer_dos .centrar h3 {
          padding-top: 1.5em;
          font-size: 20px; }
        body.homepage #wrapper .list-services .text-offer_dos .centrar h3, body.homepage #wrapper .list-services .text-offer_dos .centrar p {
          color: #dcf8ed; }
        body.homepage #wrapper .list-services .text-offer_dos .centrar .btn-deal {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          width: 80%;
          height: 50px;
          bottom: 2em;
          background: #00a658;
          border: none;
          color: white;
          border-radius: "1px";
          -webkit-border-radius: "1px";
          -moz-border-radius: "1px";
          font-size: 17px;
          -webkit-transition: all .1s ease;
          -moz-transition: all .1s ease;
          -ms-transition: all .1s ease;
          -o-transition: all .1s ease;
          transition: all .1s ease; }
          body.homepage #wrapper .list-services .text-offer_dos .centrar .btn-deal:hover {
            background: white;
            border: none;
            color: #000; }
    body.homepage #wrapper .list-services .service {
      -webkit-transition: all .1s ease;
      -moz-transition: all .1s ease;
      -ms-transition: all .1s ease;
      -o-transition: all .1s ease;
      transition: all .1s ease;
      -webkit-transition: all .1s ease;
      -moz-transition: all .1s ease;
      -ms-transition: all .1s ease;
      -o-transition: all .1s ease;
      transition: all .1s ease; }
      body.homepage #wrapper .list-services .service .footer-text {
        background: white; }
        body.homepage #wrapper .list-services .service .footer-text h4[itemprop="name"] {
          color: #4f3740; }
        body.homepage #wrapper .list-services .service .footer-text .text {
          width: 65%;
          color: #796c75; }
        body.homepage #wrapper .list-services .service .footer-text .arrow {
          margin-top: 4.4em; }
          body.homepage #wrapper .list-services .service .footer-text .arrow i {
            display: block;
            width: 30px;
            height: 30px;
            background: #00a658;
            -webkit-transition: all .1s ease;
            -moz-transition: all .1s ease;
            -ms-transition: all .1s ease;
            -o-transition: all .1s ease;
            transition: all .1s ease; }
            body.homepage #wrapper .list-services .service .footer-text .arrow i:before {
              content: "+";
              font-size: 28px;
              color: white;
              font-weight: bold;
              font-family: monospace; }
            body.homepage #wrapper .list-services .service .footer-text .arrow i:hover {
              background: white; }
              body.homepage #wrapper .list-services .service .footer-text .arrow i:hover:before {
                color: #00a658; }
      body.homepage #wrapper .list-services .service:hover {
        -moz-transform: translate(0, -10px);
        -o-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        -webkit-transform: translate(0, -10px);
        transform: translate(0, -10px);
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1); }
    body.homepage #wrapper .list-services .item .icono-img {
      height: 220px; }
  body.homepage #wrapper #ofertas div.habitacion {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease; }
    body.homepage #wrapper #ofertas div.habitacion:hover {
      -moz-transform: translate(0, -10px);
      -o-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
      -webkit-transform: translate(0, -10px);
      transform: translate(0, -10px);
      box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1); }
    body.homepage #wrapper #ofertas div.habitacion div.foto {
      width: 50%; }
      @media only screen and (max-width: 768px) {
        body.homepage #wrapper #ofertas div.habitacion div.foto {
          width: 100%; } }
    body.homepage #wrapper #ofertas div.habitacion article.detalle {
      width: 35%;
      position: relative;
      background: white;
      min-height: 215px;
      -webkit-transition: all .1s ease;
      -moz-transition: all .1s ease;
      -ms-transition: all .1s ease;
      -o-transition: all .1s ease;
      transition: all .1s ease; }
      body.homepage #wrapper #ofertas div.habitacion article.detalle h4 {
        color: #00a658;
        text-transform: uppercase;
        padding-top: 1.4em;
        margin-bottom: 0; }
      @media only screen and (max-width: 768px) {
        body.homepage #wrapper #ofertas div.habitacion article.detalle {
          width: 100%; } }
      body.homepage #wrapper #ofertas div.habitacion article.detalle:before {
        content: "";
        display: block;
        width: 38px;
        height: 100%;
        background: transparent;
        position: absolute;
        left: -37px;
        border-top: 105px solid transparent;
        border-bottom: 105px solid transparent;
        border-left: none;
        border-right: 36px solid white; }
        @media only screen and (max-width: 768px) {
          body.homepage #wrapper #ofertas div.habitacion article.detalle:before {
            display: none; } }
      body.homepage #wrapper #ofertas div.habitacion article.detalle span.min {
        color: #796c75; }
      body.homepage #wrapper #ofertas div.habitacion article.detalle span.grey {
        margin-bottom: 1em; }
      body.homepage #wrapper #ofertas div.habitacion article.detalle span.until .fa-calendar {
        display: none; }
    body.homepage #wrapper #ofertas div.habitacion div.price2 {
      width: 15%;
      background: white; }
      @media only screen and (max-width: 768px) {
        body.homepage #wrapper #ofertas div.habitacion div.price2 {
          width: 100%; } }
      body.homepage #wrapper #ofertas div.habitacion div.price2 button.btnReserva[data-codigo="reservahora"] {
        background: #00a658;
        border: none;
        border-radius: "0px";
        -webkit-border-radius: "0px";
        -moz-border-radius: "0px";
        text-transform: uppercase;
        margin: 6px;
        width: 20%;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease; }
        @media only screen and (max-width: 768px) {
          body.homepage #wrapper #ofertas div.habitacion div.price2 button.btnReserva[data-codigo="reservahora"] {
            width: 100%;
            margin: 0; } }
        body.homepage #wrapper #ofertas div.habitacion div.price2 button.btnReserva[data-codigo="reservahora"]:hover {
          background: white;
          color: #000;
          border: 1px solid #00a658; }
      body.homepage #wrapper #ofertas div.habitacion div.price2 div ul li:first-child, body.homepage #wrapper #ofertas div.habitacion div.price2 div ul li.valor {
        font-weight: 600; }
  body.homepage #wrapper .list-offers {
    padding-bottom: 95px; }
    body.homepage #wrapper .list-offers .bg_fix > .item {
      margin-top: 9em;
      padding-right: 2.3em; }
      body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 {
        width: 51%;
        margin-left: auto;
        background: rgba(255, 255, 255, 0.9);
        height: 169px;
        border: 1px solid #cccccc; }
        @media only screen and (max-width: 768px) {
          body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 {
            width: 100%; } }
        body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 .noimage {
          padding: 40px 25px; }
          @media only screen and (max-width: 768px) {
            body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 .noimage {
              padding: 15px 25px; } }
          body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 .noimage p {
            font-size: 15px;
            color: #796c75; }
          body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 .noimage h4 {
            font-size: 18px;
            letter-spacing: 0; }
        body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 ol.carousel-indicators {
          -webkit-transition: all .1s ease;
          -moz-transition: all .1s ease;
          -ms-transition: all .1s ease;
          -o-transition: all .1s ease;
          transition: all .1s ease; }
          body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 ol.carousel-indicators li:not(.active) {
            background: #4c4c4c; }
          body.homepage #wrapper .list-offers .bg_fix > .item #myCarousel2 ol.carousel-indicators li.active {
            border: 2px solid #000; }
  body.homepage footer {
    background: rgba(58, 62, 66, 0.9);
    padding: 0;
    height: 290px;
    position: relative; }
    body.homepage footer div.imagenFooter {
      width: 100%;
      position: absolute;
      z-index: -1;
      background-size: cover;
      height: 290px; }
    body.homepage footer div.footer-fluid {
      position: absolute;
      width: 100%;
      margin: auto;
      left: 0;
      height: 130px;
      right: 0;
      bottom: 0;
      top: 0; }
      body.homepage footer div.footer-fluid nav ul li a {
        color: #00a658;
        font-size: 14px;
        margin-left: .8em;
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease; }
        body.homepage footer div.footer-fluid nav ul li a.active, body.homepage footer div.footer-fluid nav ul li a:hover {
          color: white; }
        body.homepage footer div.footer-fluid nav ul li a:after {
          content: ""; }
      body.homepage footer div.footer-fluid nav.redes ul li a {
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease;
        font-size: 28px; }
      body.homepage footer div.footer-fluid span {
        -webkit-transition: all .1s ease;
        -moz-transition: all .1s ease;
        -ms-transition: all .1s ease;
        -o-transition: all .1s ease;
        transition: all .1s ease; }
        body.homepage footer div.footer-fluid span.titulo_redes {
          opacity: 0; }
